

/* Start:/bitrix/templates/travelline2/components/bitrix/menu/top-menu-new/style.css?16566784908900*/
.menu-block_first-block {
    background: #fff;
}

.menu-styled {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.menu-styled__wrapper {
    position: relative;
    content: '';
    border-top: 1px solid #ABC3E5;
}
.menu-styled__left {
    width: 68%;
    padding-right: 60px;
    background: #fff;
}
.menu-styled__right {
    width: 32%;
    padding: 0 0 32px 60px;
    background: #F5F8FB;
}
.menu-styled__item-ico {
    width: 48px;
    height: 48px;
    position: relative;
    margin-bottom: 16px;
    background-image: url('/upload/images/menu/main-menu-icons.png');
    background-repeat: no-repeat;
}
.menu-styled__item-ico.ico-be {
    background-position: 0 0;
}
.menu-styled__item-ico.ico-chm {
    background-position: -96px 0;
}
.menu-styled__item-ico.ico-solutions {
    background-position: -144px 0;
}
.menu-styled__item-ico.ico-webpms {
    background-position: -48px 0;
}

.menu-styled__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 24px 0 0;
}
.menu-styled__row.with-border {
    position: relative;
}
.menu-styled__row.with-border:after {
    position: relative;
    content: '';
    bottom: 0;
    border-bottom: 1px solid #ABC3E5;
    width: 100%;
    margin: 0 20px;
    padding-bottom: 24px;
}
.menu-styled__item {
    box-sizing: border-box;
    position: relative;
    width: calc(100% / 3);
    min-width: 217px;
    text-decoration: none;
    color: inherit;
    padding: 20px;
    z-index: 1;
}

.menu-styled__item:hover:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F5F8FB;
    border-radius: 4px;
    z-index: -1;
}

.menu-styled__solutions:hover:after {
    position: absolute;
    content: '';
    top: 0;
    left: -18px;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 4px;
    z-index: -1;
}
.menu-styled__item:hover .ico-chm {
    background-position: -96px -48px;
}

.menu-styled__item:hover .ico-be {
    background-position: 0 -48px;
}

.menu-styled__solutions:hover .ico-solutions {
    background-position: -144px -48px;
}

.menu-styled__item:hover .ico-webpms {
    background-position: -48px -48px;
}

.menu-styled__solutions {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: inherit;
}
.menu-styled__item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
}
.menu-styled__item-subtitle {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 4px;
    font-weight: 600;
}
.menu-styled__wrapper:before {
    position: absolute;
    content: '';
    width: 50%;
    background: #F5F8FB;
    height: 100%;
    right: -0;
    z-index: 0;
}
.menu__link_type-top {
    cursor: pointer;
}
.menu-styled__item-text {
    color: #6B88B2;
    font-size: 14px;
    line-height: 22px;
}
.menu-styled__item-solution {
    padding: 17px 12px;
    text-decoration: none;
    line-height: 1;
    color: inherit;
    display: block;
    left: -10px;
    position: relative;
    width: 100%;
}
.menu-styled__item-solution:hover {
    background: #fff;
    width: 100%;
    left: -18px;
    position: relative;
    padding-left: 20px;
    color: inherit;
}
.menu-styled__list li {
    padding: 12px 0;
}
.menu-styled__list a {
    text-decoration: none;
    color: inherit;
}
.menu-styled__list li:hover {
    background: #fff;
    width: 100%;
    left: -20px;
    position: relative;
    padding-left: 20px;
}
.menu-styled__footer {
    padding: 24px 20px 48px;
}
.menu-styled__solutions {
    max-width: 360px;
    padding: 20px 0 40px;
}
.menus-styles__banner {
    width: 320px;
    height: 167px;
    background: red;
    margin-top: 36px;
}
.menu-block_active.menu-block_first-block {
    padding-bottom: 0;
}
.menu__drop-ico {
    content: '';
    position: relative;
    background-image: url("/upload/images/menu/traingles_sprite.png");
    background-repeat: no-repeat;
    background-position: -5px -28px;
    width: 10px;
    height: 10px;
    top: 34px;
    right: -8px;
    float: right;
}
.menu__link.menu__link_type-top.menu__title-mobile {
    display: none;
    min-height: 0;
}

@media (min-width: 992px) {
    .menu__item_level-root.active .menu__drop-ico {
        transition: 0.1s ease;
        top: 34px;
        background-repeat: no-repeat;
        background-position: -5px -8px;
    }
    .menu-block_first-block.menu-block_active {
        border: 0;
    }
}

@media (max-width: 1200px) {
    .menu-styled__item {
        min-width: auto;
    }
    .menu-styled__item:not(last-child) {
        padding-right: 20px;
    }
    .menu-styled__item {
        min-width: auto;
    }
    .menu-styled__item:not(last-child) {
        padding-right: 20px;
    }
}

@media (max-width: 992px) {
    .menu-styled__item-text {
        font-weight: 400;
    }
    .menu__title-mobile.active + .menu__drop-ico {
        transition: 0.1s ease;
        ransform: rotate(180deg);
        background: url("/upload/images/main/ico-dropdown-hover.png") no-repeat;
    }
    .menu-styled__item.mobile50 {
        width: 50%;
    }
    .menu__dropdown .menu__link.menu__link_type-top.menu__title-mobile {
        display: block;
        min-height: auto;
        background: #fff;
        padding: 20px;
        font-family: 'Open Sans';
        font-weight: 400;

        cursor: pointer;
        font-size: 16px;
        line-height: 27px;
    }
    .menu__dropdown.menu__dropdown_type-top .menu__item {
        border-top: 1px solid #ABC3E5;
    }
    .menu__title-mobile.active {
        color: #296DCB;
    }
    .menu-block__item .menu-block__item-link {
        padding-left: 20px;
    }
    .menu-block__title {
        line-height: 50px;
    }
    .menu-block__item:hover .menu-block__item-link:before {
        display: none;
    }
    .menu__link.desktop {
        display: none;
        min-height: 0;
    }
    .menu__drop-ico {
        position: absolute;
        right: 30px;
        transition: 0.1s ease;
    }
    .menu__item_level-root:hover .menu__drop-ico {
        transform: none;
        top: 34px;
    }
    .menu-block_first-block,
    .menu-block__secondary-block {
        display: none;
    }
    .menu-block_first-block.active,
    .menu-block__secondary-block.active {
        display: block;
    }

    .menu__dropdown.menu__dropdown_type-top {
        border: 0;
    }
    .menu-styled__row {
        padding: 0;
    }
    .menu-styled__row.with-border {
        padding: 24px 0 0;
    }
    .menu-styled__item-ico {
        display: none;
    }
    .menu-styled__item {
        width: 100%;
        padding: 0 20px;
    }
    .menu-styled {
        flex-direction: column;
    }
    .menu-styled__left,
    .menu-styled__right {
        width: 100%;
        background: none;
        padding-right: 0;
    }
    .menu-styled__row {
        align-items: baseline;
    }

    .menu-styled__item {
        margin-bottom: 32px;
    }
    .menu-styled__wrapper {
        background: #F5F8FB;
        border: 0;
    }
    .menu__dropdown.menu__dropdown_type-top.is-active {
        border: 0;
    }
    .menu-styled__right {
        width: auto;
        background: #FFFFFF;
        padding: 32px 20px;
        margin: 0 20px 24px;
    }
    .menu-styled__footer {
        padding: 16px 20px 32px;
        line-height: 26px;
    }
    .menu-styled__solutions {
        padding-bottom: 32px;
    }
    .menu-styled__item-solution {
        line-height: 26px;
    }
    .menu__dropdown.menu__dropdown_type-top .menu__dropdown-list {
        padding-bottom: 0;
    }
    .menu__dropdown_type-footer {
        display: flex;
        flex-direction: row;
        height: 68px;
        justify-content: left;
        align-items: center;
        border-top: 1px solid #ABC3E5;
        padding: 0 20px;
    }
    .menu__dropdown_type-footer .phone {
         font-weight: bold;
         font-size: 16px;
         line-height: 24px;
         color: #296DCB;
         text-decoration: none;
         margin-right: 16px;
     }
    .menu__dropdown_type-footer .button {
        margin-right: 8px;
        padding: 0 8px;
    }
    .menu_type-top .menu__item.active .menu__link {
        color: inherit;
    }

}
@media (max-width: 370px) {
    .menu__dropdown_type-footer .lang {
        display: none;
    }
    .menu__dropdown_type-footer .phone {
        margin-right: 8px;
    }
}
/* End */
/* /bitrix/templates/travelline2/components/bitrix/menu/top-menu-new/style.css?16566784908900 */
